.htaccess
.env
app/config/local*
cli
logs/*
storage/audio/*
storage/images/*
storage/videos/*
.idea/
.vscode/
.data/
/app/src/config/
/app/src/Modules/

/vendor/
/docs/
composer-installer
/tests/data/